.job-item{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    background-color: #fff;
    height: 150px;
    flex-direction: column;
    overflow: hidden;
}
.job-img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
.job-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.job-detail{
    padding:10px;
    flex:1;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}
.job-detail p{
    margin-bottom: 0;
    padding-bottom:2px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.job-button{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: #446df5;
    display: flex;
    flex-direction: row;
    height:32px;
    justify-content: end;
}
.job-button button{
    padding:0 auto!important;
}
.job-new{
    background-color: #ffc107;
    color:#fff;
    padding:4px;
    margin-right: 5px;
    border-radius: 5px;
    display: inline;
}