<div class="container">
    <section>
        <div class="d-flex py-2">
            <div class="d-flex py-2" style="flex:1">
                <input class="form-control" style= "flex:1;"type="text" placeholder="Keyword..." [(ngModel)] = "searchString">       
                <button class="btn btn-primary" (click)="searchJob()">Search</button>
            </div>
            <div class="p-2 pr-0">
                <button class="btn btn-success" (click)="openAddJobDialog()">Add</button>
            </div>
        </div>
    </section>
    <section style="margin-top: 10px;background-color: #f6f6f6;padding:10px">
        <span>{{numberJobDescription}}</span>
        <span> Jobs Description for You</span>
        <div class="row">
        <div class="col-4" *ngFor = "let job of listResult" (click)="showDialogDetail($event, job)">     
            <div class="d-flex my-3 job-item">
                <div class="job-button">
                    <button class="btn btn-link text-white" (click)="openEditJobDialog($event, job)"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon></button>
                    <button class="btn btn-link text-danger" (click)="openDeleteJobDialog($event,job)"> <i class="bi bi-x-square-fill"></i></button>
                </div>  
                <div class="d-flex">

               
                <div class="job-img">
                    <img [src]="job.image">
                </div>
                <div class="job-detail">  
                               
                    <p><span class="job-new">New</span>{{job.description}}</p>              
                    <p><i class="bi bi-coin" style="margin-right: 2px;"></i>{{job.money}}</p>
                    <p>job.title</p> 
                    <div>
                        
                        <p class="d-inline">job.createDate</p>
                    </div>   
                    <div class="row">
                        <div *ngFor ="let tag of listTagOfDescription">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div> 
    </section>
</div>



