<h2 mat-dialog-title>Add Job For New Life</h2>
<form action="" #addForm="ngForm" (ngSubmit) = "save(addForm)">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Image" name="image" [(ngModel)]="job.image" required minlength="5" maxlength="1000" #image="ngModel">
            <mat-error *ngIf="image?.errors && image?.touched">
                <span *ngIf="image?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="image?.errors?.minlength">Do dai ky tu la 1000</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" name="Description" [(ngModel)] = "job.description" required minlength="5" maxlength="1000" #description="ngModel">
            <mat-error *ngIf="description?.errors && description?.touched">
                <span *ngIf="description?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="description?.errors?.minlength">Do dai ky tu la 1000</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Money</mat-label>
            <input matInput placeholder="Money" name="money" [(ngModel)] = "job.money" required minlength="5" maxlength="20" #money="ngModel">
            <mat-error *ngIf="money?.errors && money?.touched">
                <span *ngIf="money?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="money?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" (click)="close()">Dong</button>
        <button mat-button type="submit">Luu</button>
    </mat-dialog-actions>
</form>