<h2 mat-dialog-title>Edit Job Dialog</h2>
<form action="" (ngSubmit) = "save()" [formGroup]="editForm">
<mat-dialog-content class="mat-typography">
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" maxlength="50" formControlName="title" >
            <mat-error *ngIf="title?.errors && title?.touched">
                <span *ngIf="title.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="title.errors?.minlength">Do dai ten toi thieu 5 ky tu</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" maxlength="50" formControlName="description" >
            <mat-error *ngIf="description?.errors && description?.touched">
                <span *ngIf="description.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="description.errors?.minlength">Do dai ten toi thieu 5 ky tu</span>
            </mat-error>
        </mat-form-field>

       
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Money</mat-label>
            <input matInput placeholder="Money" maxlength="50" formControlName="money" >
            <mat-error *ngIf="money?.errors && money?.touched">
                <span *ngIf="money.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="money.errors?.minlength">Do dai ten toi thieu 5 ky tu</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Image" maxlength="50" formControlName="image" >
            <mat-error *ngIf="image?.errors && image?.touched">
                <span *ngIf="image.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="image.errors?.minlength">Do dai ten toi thieu 5 ky tu</span>
            </mat-error>
        </mat-form-field>
   </mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button type="button" (click)="close()">Dong</button>
    <button mat-raised-button color="primary" type="submit" (click)="save()">Luu</button>
</mat-dialog-actions>
</form>