<div class="container">
    <div> <img src=""> </div>
    <div> <p> {{job.description}} </p></div>
    <div> <p> {{job.money}} </p></div>
    <div> <p> {{job.title}} </p></div>
    <div> <p> {{job.status}} </p></div>
    <mat-dialog-actions align="end">
        <button mat-raised-button type="button" (click)="close()">Dong</button>
    </mat-dialog-actions>
</div>
