<h2 mat-dialog-title>Are you sure delete this 
    <div fxFlex="value%" fxFlexAlign="start">
    </div>
</h2>
<form action="" #addForm="ngForm">
    <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" (click)="close()">Dong</button>
        <button mat-button type="submit" (click)="save(addForm)">Delete</button>
    </mat-dialog-actions>
</form>